@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$textColor: gray;
$controlColor: #43a2ff;

.ChatApplication {
  margin: 0 auto;
  width: 600px;
  font-family: Verdana,sans-serif;
  &_W {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    margin: 0;
    background-color: #f4f0ff;
    text-align: center;
    @include border-radius(5px);
  }
  .ConnectionInput {
    margin: 0 auto;
    width: 100%;
    &_Label {
      font-size: 15px;
      margin-right: 10px;
      color: $textColor;
    }
    &_Input {
      width: 250px;
      height: 20px;
      padding: 1px 3px;
      margin-right: 10px;
      border: 1px solid $controlColor;
      @include border-radius(3px);
    }
    &_Button {
      width: 70px;
      height: 25px;
      cursor: pointer;
      background-color: $controlColor;
      border: 1px solid $controlColor;
      @include border-radius(3px);
      span {
        color: white;
      }
    }
  }
  .MessageInput {
    &_Input {
      width: 85%;
      height: 20px;
      padding: 1px 3px;
      margin-right: 10px;
      border: 1px solid $controlColor;
      @include border-radius(3px);
    }
    &_Button {
      width: 70px;
      height: 25px;
      cursor: pointer;
      background-color: $controlColor;
      border: 1px solid $controlColor;
      @include border-radius(3px);
      span {
        color: white;
      }
    }
  }
  .MessageOutput {
    margin-bottom: 10px;
    min-height: 402px;
    position: relative;
    overflow: hidden;
    &_List {
      width: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      ul, li {
        list-style-type: none;
      }
    }
    &_Item {
      width: 100%;
      display: inline-block;
      text-align: left;
      color: $textColor;
      border-bottom: 1px dotted #dedbe8;
      line-height: 1.1em;
    }
    &_P {
      margin: 0;
      font-size: 12px;
    }
    &_Text {
      float: left;
      margin-right: 5px;
    }
    &_Text__Info {
      font-style: italic;
      color: #76d0d6;
    }
    &_Username {
      color: black;
      float: left;
      margin-right: 5px;
    }
    &_Username__Own {
      color: orange;
    }
    &_Datetime {
      float: right;
      font-size: 10px;
    }
  }
}
